* {
    margin: 0;
    padding: 0;
}

.header-section {
    height: 350px;
    background-color: #d8865c;
    display: flex;
    align-items: center;
    color: #800080;
}
.colorstyle{
    font-family: 'Raleway Dots', cursive;
}
 
.btn-class {
    border-radius:8px;
    padding: 5px 25px;color: white;
} 
.centererer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}


li{
    list-style-type: none;
}
.contant{color: black;
   border-radius: 20px;
   background-color: #dddddd;
}
.table{
   /* background-color: rgb(57, 49, 49); */
   height: 210px;
}