* {
    margin: 0;
    padding: 0;
}

.header-section {
    height: 350px;
    background-color: #ffcaca;
    display: flex;
    align-items: center;
    color: #800080;
}

.btn-div {
    text-align: center;
}

.btn-class {
    border-radius:8px;
    color: white;
    background-color: rgb(4, 48, 114);
    padding: 5px 25px;
}

.btn-class:hover{
    background-color: green;
}
li{
    list-style-type: none;
}
.contant{color: black;
   border-radius: 20px;
   background-color: #dddddd;
}
.table{
   /* background-color: rgb(57, 49, 49); */
   height: 210px;
}